/** {margin: 0;*/
/*padding: 0;}*/
body {
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.all {
    /*border: 1px solid black;*/
    margin: 0px;
}

.head {

    margin: 108px auto 30px auto;
    text-align: center;
}

.line {
    height: 2px;
    background-color: #ff8b38;
    border: none;
    width: 64px;
    margin: 30px auto 30px auto;
}

.text1 {

    color: #a4a5a8;
    text-align: center;
    margin: 30px auto 80px auto;

}

.d0 {
    display: flex;
    margin: 80px 143px 105px 143px;
    padding: 0px;
    border: none;
}

.d {

}

.img1 {
    text-align: center;
}

/*.img1.img {margin: 0px auto;}*/
.h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #333333;
    text-align: center;
}

.text {
    margin-top: 30px;
    margin-bottom: 0px;

    color: #a4a5a8;
    text-align: center;
}


}

